<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    </head>
  <body style="background-color: #e0e0b4;">

    


    <section class="abouth1">
      <h1>Conoscenza</h1>
      <hr>
      <p>A knowledge sharing platform to help people find and learn different topics shared by other users.Also letting users share their knowledge about different topics thus helping others.This project ensures enablement of  the democratization of knowledge.So feel free to jump into the ocean of knowledge!!! Share and learn and as we all know -</p>
      <br>
      <p style="text-align: center; font-weight:bold; margin-top: 5%;">Knowledge is like money: to be of value it must circulate, and in circulating it can increase in quantity and, hopefully, in value.</p>
      <br>
      <h3 style="margin-top: 10%;">Usage</h3>
      <hr>
      <section style="margin-bottom: 5%;">
        <ul >
          <li>Type the item you want to search in the searchbar and hit the submit button to search in the web.</li>
          <br>
          <li>One needs to register/login in order to post a topic.</li>
          <br>
          <li >

            For complaint or feedback one may fillup the google form accessible under each topic.</li>
        </ul>
      </section>

    </section>




  </body>
</html>
